function dateTimeFormat(data) {
  var time = Date.now()
  // data = new Date(data)
  // var year = data.getFullYear()
  // var month = data.getMonth() + 1
  // var day = date.getDate()
  // var hour = date.getHours()
  // var minute = date.getMinutes()
  // var second = date.getSeconds()
  // return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute, second].map(formatNumber).join(':')
  return '123456'
}

function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
module.exports = {
  dateTimeFormat: dateTimeFormat
}